# =========================
# 共通
# =========================
.env
*.log
*.tmp
.DS_Store
# =========================
# ESP32（PlatformIO）
# =========================
.pio
.vscode
# =========================
# その他
# =========================
*.bak
*.swp
# OS系
Thumbs.db